header, nav, main, footer, figure, figcaption { display: block; }
* { box-sizing: border-box; }

body {
  font-family: serif;
  background-color: #b07c30;
}

#container {
  background-color: #ffffff;
  margin: auto;
  width: 80%;
  box-shadow: 3px 3px 5px 6px #333;
}

#tablecontainer{
background-color: #ffffff;
margin: auto;
width: 80%;
}


nav {
  font-family: Helvetica;
  background-color: white;
  color: black;
  word-spacing: 1em;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-style: solid;
}

a {color: black; text-decoration: none;}
a:visited {color: black;}
a:hover {color:#ffffff; background-color: black}


header{

  background-color: white;
  background-position: right;
  background-repeat: no-repeat;
  height: auto;
  padding-top: 3px;
  padding-left: 2em;
  font-size: 100%;
  padding: 5px 5px 5px;
}

main { margin-left: 50px;
        margin-right: 50px;
        padding-bottom: 10px;
        background-color: #ffffff;
        color: #222222;
}

h1 { margin-bottom: 0;
    font-family: Helvetica;
    color: #222222;
  }


h2 {
  color: #222222;
  font-family: Helvetica;
  font-size: 25px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  color: black;
  font-family: Verdana;
  font-size: 16px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}

dl {
  color: black;
  font-family: verdana;
  font-size: 13px;
  text-align: left;
}

ol {
  color: black;
  font-family: verdana;
  font-size: 13px;
  text-align: left;
}

ul {
  color: black;
  font-family: verdana;
  font-size: 13px;
  text-align: left;
}

p {
  color: #222222;
  font-family: serif;
  font-size: 13px;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;

}

.myclass {
  color: black;
}

#footer {
  font-size: 15px;
  color: #222222;
  text-align: center;
  font-family: Helvetica;
}

.divclass {
  width: 500px;
  margin: auto;
  border: 3px solid #FFFAE5;
}

ol li{
  list-style-type: none;
}



#table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 75%;
  color: gray;
}

#table td, #table th {
  padding: 0px;
}




}

hr {
  display: block;
  margin-top: 0em;
  margin-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

form{
  padding: 20px;
  font-size: 13px;
  display: table;
}
label{
  float: left;
  width: 100px;
  clear: left;
  text-align: left;
  padding-right: 10px;
  margin-top: 10px;
}
input, textarea{
  margin-top: 10px;
  display: block;
}

@media only screen and (max-width: 600px) {

  #table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: .8em;
    border-collapse: collapse;
    width: 75%;
    color: gray;
  }

  #table td, #table th {
    border: 2px solid lightblue;
    padding: 1px;
  }

  #table tr:nth-child(even){background-color: #f4fafc;}

  #table th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: left;
    background-color: #ffffff;
    color: gray;
  }

}
